{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<div class="jumbotron mx-4 text-center mt-4">
  <h1>Bienvenido</h1>
  <p>Biblioteca DuocUC</p>
</div>



<div id="demo" class="carousel slide mx-4 mb-3" data-ride="carousel">
  <div class="text-center mb-3">
    <h2>Libros destacados del mes</h2>
  </div>
 
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'core/img/principito.jpg' %}" alt="El Principito" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'core/img/ladivinacomedia.jpg' %}" alt="La Divina Comedia" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'core/img/prisionerodeazkaban.jpg' %}" alt="Harry Potter y El Prisionero De Azkaban"
        width="1100" height="500">
    </div>
  </div>

 
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
{% endblock %}